In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_excel('Amazon_Sale_Report.xlsx')

In [3]:
df1.head(2)
df2=df1

In [10]:
df1=df1.drop('Unnamed: 22',axis=1)
df1=df1.drop_duplicates()
df1.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN

In [5]:
df2=df1.copy()
#df2.head()

In [31]:
for i in df1.columns:
    print(i)
    print(df1[i].isna().sum())
    print()

index
0

Order ID
0

Date
0

Status
0

Fulfilment
0

Sales Channel
0

ship-service-level
0

Style
0

SKU
0

Category
0

Size
0

ASIN
0

Courier Status
0

Qty
0

currency
0

Amount
0

ship-city
0

ship-state
0

ship-postal-code
0

ship-country
0

promotion-ids
0

B2B
0

fulfilled-by
0

In [7]:
#df1=df2.copy()

In [8]:
df1['Courier Status']=df1['Courier Status'].fillna('Shipped')
df1['currency']=df1['currency'].fillna('INR')
df1['Amount']=df1['Amount'].fillna(df1['Amount'].mean())

In [30]:
df1=df1.fillna(
    {
        'Courier Status':'Shipped',
        'currency':'INR',
        'Amount':df1['Amount'].mean(),
        'ship-city':'BENGALURU',
        'ship-state':'KARNATAKA',
        'ship-postal-code':201301.0,
        'ship-country':'IN',
        'promotion-ids':df1['promotion-ids'].value_counts().idxmax(),
        'fulfilled-by':'Easy Ship'
    }
)

In [33]:
with pd.ExcelWriter('Amazon_Sale_Reports.xlsx') as writer:
    df1.to_excel(writer,sheet_name="Amazon Sale Report",index=False)